<appSettings>
  <add key="URL" value="https://flex-api.cxanow.com/Default.aspx?Msg=CookieIsRequired"/>
  <add key="CompanyId" value="config"/>
  <add key="Username" value="qa"/>
  <add key="Password" value="Pa55word"/>
  <add key="Browser" value="Chrome"/>
  <add key="Client" value="Automation"/>
  
  
  <!--Smoke Test Configuration Settings-->
  <!--Apollo Login -->
  <add key="SmokeTest_URL" value="https://cxa-test-apollo.azurewebsites.net/Login.aspx"/> 
  <add key="SmokeTest_CompanyId" value="config"/>
  <add key="SmokeTest_Username" value="root"/>
  <add key="SmokeTest_Password" value="P@ssw0rd"/>
  <add key="SmokeTest_Browser" value="firefox"/>
  <add key="NewClient" value="SmokeTest3"/>
  
</appSettings>