<appSettings>
  <add key="URL" value="https://flex-api.cxanow.com/Login.aspx"/>
  <add key="CompanyId" value="config"/>
  <add key="Username" value="qa"/>
  <add key="Password" value="Pa55word"/>
  <add key="Browser" value="firefox"/>
  <add key="Client" value="TestEra"/>  
  
  <!--Smoke Test Configuration Settings-->
  <!--Apollo Login -->
  <add key="SmokeTest_URL" value="https://cxa-test-apollo.azurewebsites.net/Login.aspx"/>
  <add key="Employee_Portal" value="https://cxatest.com/"/>
  <add key="SmokeTest_CompanyId" value="config"/>
  <add key="SmokeTest_Username" value="revanth"/>
  <add key="SmokeTest_Password" value="P@ssw0rd"/>
  <add key="SmokeTest_Browser" value="firefox"/>
  <add key="SmokeTest_EmpCompanyId" value="SmokeTest_Feb13"/>
  <add key="SmokeTest_EmpUsername" value="UploadEmp1"/>
  <add key="SmokeTest_EmpPassword" value="P@ssw0rd"/>
  <add key="SmokeTest_Browser" value="firefox"/>
  <add key="SmokeTest_Client" value="SmokeTest_Feb13"/>
  
</appSettings>